html {

background-color: rgb(250, 229, 171);


}
.title{
color: rgb(0, 0, 0);
}

.links {
    background: fixed;
    border: groove;
    border-color: rgba(`);
    background-color: rgb(226, 162, 43);
    color: black;
}

.button {    
    border: groove;
    padding: 5px;
    background-color: #e2a22b;
    border-color: #644a02a8;
}


